# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# office files
*.docx

# vsc files
.vscode

# build folder in the week3 folder
Week_3/build
Week_3/reverse_a_string
Week_3/previous_smallest_elems
Week_3/gen_bin_num